/* about page styles */

.about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 5rem;
  padding: 4rem;
}
.about img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.45rem;
}
.about__content {
  margin-block-start: 7rem;
}
.about p {
  width: 60ch;
}
.content__quote figure {
  display: flex;
  align-content: center;
  justify-content: center;
  column-gap: 0.5rem;
  font-size: 1.8rem;
  color: var(--secondary-white);
}
