:root {
  --max-width: 1920px;
  --border-radius: 0.45rem;

  --primary-color: #7d2436;
  --secondary-color: #F4E8EC;
  --tertiary-color: #00534E;
  --quaternary-color: #bd8186;
  --quinary-color: #ead3c1;
  /* --secondary-color: #FFF4F5; */
  /* --secondary-color: #FFF6F7; */
  --primary-black: #000;
  --primary-white: #fff;
  --secondary-white: #f1f1f1;
  --tertiary-white: #eeeeee;
  /* primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, denary */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--secondary-white);
  color: var(--primary-color);
}

main {
  min-height: 100vh;
  /* to compensate for fixed header */
  padding-block-start: 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-block-end: 0.25rem;
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
p {
  max-width: 76ch;
  margin: 0 auto;
  margin-block-end: 1rem;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style-type: "";
}
img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.form__wrap {
  max-width: 76ch;
  padding: 8rem 0 0;
  margin: 0 auto;
}
form {
  max-width: 76ch;
  margin: 0 auto 1rem;
}
form,
.form__element {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.form__element {
  row-gap: 0.5rem;
}
label {
  font-size: 1.4rem;
}
input,
textarea {
  height: 3rem;
  padding: 0.7rem;
  border-radius: var(--border-radius);
  font-size: 1.4rem;
}
textarea {
  min-height: 7rem;
  max-width: 683px;
  min-width: 683px;
}
.size-adj {
  font-size: 1rem;
}
button {
  /* start reset */
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
  /* end reset */
  position: relative;
  width: 7rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border: 0.15rem solid var(--tertiary-color);
  border-radius: var(--border-radius);
  font-size: 1.4rem;
  background-color: var(--tertiary-color);
  color: var(--secondary-white);
  transition: all 0.2s,;
}
button::after {
  position: absolute;
  content: '';
  display: block;
  top: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  width: 0.5rem;
  border-top: 0.225rem solid var(--tertiary-color);
  border-right: 0.225rem solid var(--tertiary-color);
  border-bottom: 0.225rem solid var(--tertiary-color);
  border-radius: 0 0.35rem 0.35rem 0;
  opacity: 0;
}
button::before {
  position: absolute;
  content: '';
  display: block;
  top: 0.25rem;
  left: 0.25rem;
  bottom: 0.25rem;
  width: 0.5rem;
  border-top: 0.225rem solid var(--tertiary-color);
  border-left: 0.225rem solid var(--tertiary-color);
  border-bottom: 0.225rem solid var(--tertiary-color);
  border-radius: 0.35rem 0 0 0.35rem;
  opacity: 0;
}
/* .visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */

.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  padding: 2rem 3rem;
  margin: 0 auto;
  background-color: var(--primary-color);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
}

.logo__wrapper {
  width: fit-content;
}
.logo {
  position: relative;
  font-size: 2.25rem;
  color: var(--secondary-white);
}
.nav {
  width: 40rem;
}
.nav__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__ul a {
  padding-bottom: 3px; /* adds space between text and hover bg-image */
  font-size: 1.4rem;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent), linear-gradient(var(--secondary-white), var(--secondary-white));
  background-size: 0 0.1rem;
  background-position: 0 100%;
  background-repeat: no-repeat;
  color: var(--secondary-white);
  transition: background-size 0.2s ease-out;
}
.footer__nav .nav__ul a {
  background-image: linear-gradient(transparent, transparent), linear-gradient(var(--primary-color), var(--primary-color));
  color: var(--primary-color);
}

.footer {
  width: 100%;
  max-width: var(--max-width);
  padding: 4rem 3rem;
  margin: 0 auto;
  background-color: var(--secondary-color);
}
.footer h2 {
  width: 26ch;
}
.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1640px;
  margin: 0 auto;
}
.footer__nav {
  width: 35rem;
}
.footer__nav .nav__ul a {
  color: var(--primary-color);
}
.footer__content {
  width: fit-content;
}
.footer__content p {
  width: auto;
}

.banner {
  width: 100%;
  padding: 4rem;
  margin: 0 auto;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-white);
}
.banner.secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.banner p {
  margin-block-end: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  button:hover, 
  button:focus-visible {
    background-color: rgba(0, 83, 78, 0.1);
    color: var(--tertiary-color);
  }
  button:hover::after,
  button:focus-visible::after,
  button:hover::before,
  button:focus-visible::before {
    opacity: 1;
  }
  .nav__ul a:hover, 
  .nav__ul a:focus-visible {
    background-size: 100% 0.1rem;
  }
}
