/* homepage styles */

.hero {
  position: relative;
}
.hero h1 {
  width: 77vw;
  line-height: 1.3;
}
.hero__heading {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  margin-block-end: 2rem;
}
.hero__profileImg {
  max-width: 60%;
}
.hero__bgImg {
  border-radius: 0;
}
.hero__content {
  position: absolute;
  top: 57vh;
  left: 50%;
  transform: translate(-50%, -50vh);
  width: 80vw;
}
.wrap {
  width: 80vw;
  padding: 4rem 0;
  margin: 0 auto;
  text-align: center;
}
.wrap.campaign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.campaign img {
  max-width: 1200px;
}
.content__contact {
  width: 80vw;
  margin: 0 auto;
  color: var(--tertiary-white);
}
.content__campaign {
  width: 80vw;
  text-align: left;
}
.content__campaign p {
  margin: 0 0 1rem;
}

@media (max-width: 640px) {
  .hero h1 {
    text-align: center;
  }
  .hero__heading {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-block-end: 1.25rem;
  }
}

@media (min-width: 641px) {
  .hero__content {
    width: 90vw;
    top: 55.5vh;
  }
  .hero__content p:last-of-type {
    width: 39vw;
    margin-right: auto;
    margin-left: 0;
  }
  .hero__profileImg {
    max-width: 32%;
  }
}
