/* homepage styles */

.hero {
  position: relative;
}
.hero h1 {
  width: 14ch;
  line-height: 1.3;
}
.hero__heading {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  margin-block-end: 2rem;
}
.hero__heading img {
  max-width: 11rem;
}
.hero p {
  max-width: 56ch;
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 9rem;
  transform: translateY(-50%);
}
.wrap {
  width: 100%;
  padding: 4rem;
  margin: 0 auto;
  text-align: center;
}
.wrap.campaign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.campaign img {
  max-width: 1200px;
}
.content__contact {
  color: var(--tertiary-white);
}
.content__campaign {
  width: 75rem;
  text-align: left;
}
.content__campaign p {
  margin: 0 0 1rem;
}
